* {
  font-family: 'Abril Fatface',
  cursive;
  background-color: deepskyblue;
  color: black;
}

body {
  background-color: beige;
}

footer {
  margin: auto;
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top: 0em;
  float: bottom;
  bottom: 0;
}

.signIn {
  margin: auto;
}